@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: Poppins;
}

/* hero-section */
.hero-section {
    background-color: rgba(255, 102, 0, 0.10);
}

.hero-section-column h2 {
    color: #000;
    font-family: Poppins;
    font-size: 3.751rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-section-column p {
    width: 85%;
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-section-column button {
    width: 15.375rem;
    height: 4.938rem;
    margin: 50px 0px 0px 0px;
    padding: 10px;
    border: 2px solid #FF6600;
    border-radius: 0.625rem;

}

.hero-section-column .lets-created {
    background-color: #FF6600;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-section-column .go-premium {
    background-color: Transparent;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-section-column .go-premium a {
    color: #000;
}

.hero-section-column button a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

/* simple section */
.simple-section h2 b {
    color: #F60;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */

}

.simple-section p {
    margin: 2% 0px 3% 0px;
    color: #000;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;

}

/* print ready design */
.print-ready-section h2 b {
    color: #000;
    font-family: 'Poppins';
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    text-align: justify;
    /* line-height: normal; */
}

.print-ready-section p {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
    color: #000;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}

.print-ready-section button {
    font-family: 'Poppins';
    margin: 10px;
    width: 16rem;
    height: 5rem;
    flex-shrink: 0;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    border: 2px solid #FF6600;
    border-radius: 10px;

}

.print-ready-section button a {
    font-family: 'Poppins';
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

/* resume card  */
.resume-card-section {
    padding: 4rem;
}

.resume-card-section .card {
    background-color: rgba(255, 102, 0, 0.10);
    border-radius: 30px;
}

.resume-card-section .card .img-fluid {
    border-radius: 4.5rem;
}

.btn-resume-section {
    margin-top: 2%;
    background-color: #FF6600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 25px 0px 25px 0px;
    border-radius: 0px 0px 30px 30px;
}

.btn-resume-section a {
    font-family: 'Poppins';
    text-decoration: none;
    color: #fff;
}

/* review setiojn */
.review-section h2 b {
    font-family: 'Poppins';
    color: #F60;
}

.review-section p {
    font-family: 'Poppins';
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: black;
}

/* section how-its-work */
.how-its-work {

    height: 830px;
    flex-shrink: 0;
    background-color: rgba(255, 102, 0, 0.10);
}

.how-its-work .p1 {
    color: #F60;
    text-align: justify;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.how-its-work h2 {
    word-spacing:-5px;
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin-bottom:1.5rem;
}

.how-its-work .p2 {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:2rem;
}
.how-its-work img{
    margin-top:6rem;
}
.how-its-work .left-side{
    margin-top: 5rem;
}


.how-its-work button {
    font-family: 'Poppins';
    margin: 10px;
    width: 16rem;
    height: 5rem;
    flex-shrink: 0;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    border: 2px solid #FF6600;
    border-radius: 10px;

}

.how-its-work button a {
    font-family: 'Poppins';
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}


/* port Folio section */
.port-folio-section .card {
    background-color: rgba(255, 102, 0, 0.10);
    border-radius: 30px;
}

.port-folio-section .card .card1 img {
    margin-top: -6rem;
    background-color: none;
    width: 12rem;
    border-radius: 50%;
    border: 3px solid #F60;
}

.port-folio-section .card .card1 h2 {
    text-align: justify;
    color: black;
    font-size: 1.75rem;
    font-family: 'Poppins';
    font-weight: 600;
    word-wrap: break-word
}

.port-folio-section .card .card1 p {
    padding: 2rem;
    text-align: justify;
    font-size: 1.25rem;
    font-family: 'Poppins';
    font-weight: 600;
    word-wrap: break-word
}

/* footer section */
.footer-section {
    margin-bottom: 5rem !important;
}

.footers-section .navbar-brand {
    font-size: 2.25rem;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    font-family: Poppins;
}

.footer-section .learn-more {
    padding-left: 4rem;
}

.footer-section .other {
    padding-left: 5rem;
}

.footers-section .navbar-nav .nav-item .nav-link {
    padding-bottom: 1rem;
    padding-left: 0rem;

}

.footers-section h2 {
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footers-section p {
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footers-section .p1 {
    text-align: justify;
    margin-left: -6rem;
}

.footers-section a {
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.60rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-copy-right {
    background-color: #FF6600;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

/* social media icons */
.social-media-icons .bx {
    width: 3.5rem;
    padding: 1rem;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 1rem 0rem 1rem 1rem;
    color: #FFF;
    border-radius: 50%
}

.social-media-icons .bx:hover {
    opacity: 0.7;
}

.bxl-facebook {
    background: #3B5998;
    margin-left: 12rem !important;
}

.bxl-linkedin {
    background: #007bb5;
}

.bxl-instagram {
    background: #8a3ab9;
}

/* responsive css homePage */
@media only screen and (max-width:2560px) and (min-width:951px) {

    /* navbar */
    .navbar-brand {
        margin-left: -6rem;
    }

    .navbar-nav {
        margin-right: -9rem;
    }

    .navbar-nav .nav-item .nav-link {
        /* margin-right:-3rem; */
        padding: 0rem 3.5rem 0rem 1rem;
    }

    /* hero section */
    .hero-section {
        width: 100%;
        height: 45.75rem;

    }

    .hero-left-section {
        padding-left: 10%;
        padding-top: 5%;
    }

    .hero-section-column h2 {
        color: #000;
        font-family: Poppins;
        font-size: 60.008px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .hero-section img {
        padding-left: 1%;
    }

    /* footer */
    .footers-section .navbar-nav .nav-item .nav-link {
        padding-left: -1rem
    }
}

@media only screen and (max-width:1440px) and (min-width:951px) {

    /* nav bar */
    .navbar-brand {
        margin-left: 0rem;
    }

    .navbar-nav {
        margin-right: 0rem;
    }

    /* hero section */
    .hero-left-section {
        padding-left: 5%;
        padding-top: 3%;
    }

    .hero-section img {
        padding-right: 15%;
        padding-top: 5%;
    }

    /* footers responsive */
    .footers-section .p1 {
        text-align: justify;
        margin-left: 0rem !important;
    }

    /* social media icons */
    .fa-facebook {
        background: #3B5998;
        margin-left: 9rem !important;
    }
}


@media only screen and (max-width:1024px) and (min-width:951px) {

    /* navbar  */
    .navbar-nav .nav-item .nav-link {
        /* margin-right:-3rem; */
        padding: 0rem 1.5rem 0rem 1rem;
    }

    /* resume section css */
    .resume-card-section {
        padding: 1rem;
    }

    .resume-card-section .card .img-fluid {
        border-radius: 2rem !important;
    }

    .resume-card-section .card .p-5 {
        padding: 1rem !important;

    }
    /* port folio css */
    /* .port-folio-section .card .card1 img {
        margin-top: -4rem;
        width: 10rem;
        height: auto;
    } */
    /* social media icons */
    .fa-facebook {
        background: #3B5998;
        margin-left: 4.5rem !important;
    }

    .footers-section .navbar-nav .nav-item .nav-link {
        padding-bottom: 0.4rem;
        padding-left: 0rem;

    }

}

@media only screen and (min-width:768px) and (max-width:951px) {

    /* resume section */
    .resume-card-section {
        padding: 1rem;
    }

    .resume-card-section .card .img-fluid {
        border-radius: 2rem !important;
    }

    .resume-card-section .card .p-5 {
        padding: 1rem !important;

    }

    /* footer responsive */
    .footers-section .p1 {
        text-align: justify;
        margin-left: 0rem !important;
    }

    /* social media icons */
    .fa-facebook {
        background: #3B5998;
        margin-left: 4rem !important;
    }

    .footer-section .learn-more {
        padding-left: 0rem;
    }

    .footer-section .other {
        padding-left: 0rem;
    }

    .footers-section .navbar-nav .nav-item .nav-link {
        padding-bottom: 0rem;
        padding-left: 0rem;

    }

}

@media only screen and (min-width:425px) and (max-width:951px) {

    /* resume section */
    .resume-card-section {
        padding: 1rem;
    }

    .resume-card-section .card .img-fluid {
        border-radius: 2rem !important;
    }

    .resume-card-section .card .p-5 {
        padding: 1rem !important;

    }

    /* footer responsive */
    .footers-section .p1 {
        text-align: justify;
        margin-left: 0rem !important;
    }

    /* social media icons */
    .fa-facebook {
        background: #3B5998;
        margin-left: 5rem !important;
    }

    .footer-copy-right {
        font-family: Poppins;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #000;
    }
}

@media only screen and (min-width:375px) and (max-width:951px) {

    /* navbar */
    .sign-up a {
        width: 7rem !important;
        height: 3rem !important;
        border-radius: 0.625rem !important;
        padding: 0.5rem 0rem 0.5rem 1rem !important;
    }

    /* simple section */
    .simple-section p {
        margin: 2% 0px 3% 0px;
        padding: 0rem 0.7rem 0rem 0.7rem;
        color: #000;
        font-family: 'Poppins';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;

    }

    /* resume section */
    .resume-card-section {
        padding: 1rem;
    }

    .resume-card-section .card .img-fluid {
        border-radius: 2rem !important;
    }

    .resume-card-section .card .p-5 {
        padding: 1rem !important;

    }

    /* footer responsive */
    .footers-section .p1 {
        text-align: justify;
        margin-left: 0rem !important;
    }

    /* social media icons */
    .fa-facebook {
        background: #3B5998;
        margin-left: 4.5rem !important;
    }

    .footer-copy-right {
        font-family: Poppins;
        font-size: 1.15rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #000;
    }
}

@media only screen and (min-width:320px) and (max-width:951px) {

    /* resume section */
    .resume-card-section {
        padding: 0.5rem;
    }

    .resume-card-section .card .img-fluid {
        border-radius: 2rem !important;
    }

    .resume-card-section .card .p-5 {
        padding: 1rem !important;

    }

    /* how it's work */
    .how-its-work .text-left {
        padding: 0.20rem;
        word-wrap: break-word;
    }

    /* print ready file */
    .print-ready-section .responsive-print-ready-section {
        padding: 0.30rem;
        word-wrap: break-word;
        line-height: 1.5em;
    }


    .print-ready-section img {
        float: none;
    }

    /* port folio section */
    .port-folio-section .card {
        margin-top: -1rem !important;
    }

    .port-folio-section .card .card1 img {
        margin-top: -4rem;
        width: 8rem;
        height: auto;
    }

    .port-folio-section .card .card1 p {
        padding: 0.20rem;
        font-size: 1rem;
        word-wrap: break-word;
        line-height: 1.5;
    }

    /* footer responsive */
    .footers-section .p1 {
        text-align: justify;
        margin-left: 0rem !important;
    }

    /* social media icons */
    .fa-facebook {
        background: #3B5998;
        margin-left: 4rem !important;
    }

    .footer-copy-right {
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #000;
        margin-left: -1rem;
    }

}

/* row responsive */
.row1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(1 * var(--bs-gutter-y));
    margin-right: calc(0.5 * var(--bs-gutter-x));
    margin-left: calc(0.5 * var(--bs-gutter-x));
}
